html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.site-navigation {
  font-size: 11px;
  list-style: none;
  
}
.site-navigation a {
  color: rgba(98, 98, 98, 255);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 23px
 
}
.site-navigation li {
  display: inline-block;
 
}

.site-navigation{
width: 575px;
margin: 0 auto;
background-color: teal
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #8ccef8
} 


.container{
  width: 900px;
  margin: 0 auto;
  background-color: teal
}
.download-button{
  border: none;
  margin: 0;
  padding: 22px 34px;
 
}
.download-button{

font-size: 17px;
color: #626262;
text-align: center;
cursor: pointer;



